* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  nav,
  footer {
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: white;
  }
  &__content {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.HookExample {
  label {
    position: relative;
  }
  span {
    position: absolute;
    left: 100%;
    color: red;
  }
}

.Button {
  cursor: pointer;
  &--primary {
    background: blue;
    color: white;
    border: 1px solid white;
  }
}

h1,
h2,
h3,
p {
  text-transform: capitalize;
  margin: 0;
}

.Pokemon {
  background-color: rgba(white, 0.1);
  border: 1px solid white;
  border-radius: 1rem;
  img {
    max-width: max-content;
  }
  &__button {
    border-radius: 0.5rem;
    border-color: transparent;
    cursor: pointer;
    &--rock {
      background-color: wheat;
    }
    &--ground {
      background-color: yellowgreen;
    }
    &--flying {
      background-color: skyblue;
    }
    &--water {
      background-color: lightseagreen;
    }
    &--steel {
      background-color: slategrey;
      color: white;
    }
    &--dark {
      background-color: black;
      color: white;
    }
    &--grass {
      background-color: darkgreen;
      color: white;
    }
    &--psychic {
      background-color: pink;
    }
    &--ice {
      background-color: lightblue;
    }
    &--dragon {
      background-color: darkred;
      color: white;
    }
    &--fighting {
      background-color: rebeccapurple;
      color: white;
    }
    &--poison {
      background-color: purple;
      color: white;
    }
    &--ghost {
      background-color: orange;
      color: white;
    }
    &--bug {
      background-color: green;
      color: white;
    }
    &--fire {
      background-color: firebrick;
      color: white;
    }
  }
}

.TodoRoute {
  &__todo {
    background-color: rgba(white, 0.1);
    border: 1px solid white;
    border-radius: 0.5rem;
  }
}
